<div class="pagination-nav">
	
<a class="btn btn-default" id="previous-page" data-current-page="<%= currPage %>">Previous Page</a>
<a class="btn btn-default" id="next-page" data-current-page="<%= currPage %>">Next Page</a>
	
	
</div>