<div class="pagination-nav">
	
<a id="previous-page" data-current-page="<%= currPage %>"><i class="fa fa-2x fa-arrow-circle-left"></i></a>  
<a id="next-page" data-current-page="<%= currPage %>"><i class="fa fa-2x fa-arrow-circle-right"></i></a>
	
	
</div>