<h1><%= user.escape('email') %></h1>

<h2>Blogs</h2>

<h3><a href="<%= Routes.new_blog_path() %>">Create New Blog</a></h3>
<ul>
	<% user.blogs().each(function(blog){ %>
		<li><a href="/blogs/<%= blog.id %>"><%= blog.escape('name') %></a></li>
	<% }); %>
</ul>


<h2>Settings</h2>

