<h2>Welcome back <%= user.escape('email') %>!</h2>


<h2>Blogs</h2>
<a class="btn btn-info" href="<%= Routes.new_blog_path() %>">Create a New Blog</a>

<ul>
	<% user.blogs().each(function(blog){ %>
		<h3><a href="#/blogs/<%= blog.id %>"><%= blog.escape('name') %></a></h3>
	<% }); %>
</ul>


<h2>Settings</h2>

