<li>
  <%= comment.escape('body') %> | <a href="" class="reply-comment" data-parent_id="<%= comment.id %>">reply</a>
</li>

	
<ol class="more-child-comment" id="more-child-comment-<%= comment.id %>">
	
</ol>
	