<div class="comments-container">
	
<ul>

	<% root_comments.each(function(root_comm, idx) { %>
 		
		<li><%= root_comm.escape('body') %> || <a href="" class="reply-comment">reply</a>
		</li>
	
		<ul class="child-comments-cont"></ul>
	
	<% }); %>
	
	
</ul>
	
	
</div>