<form>
	
	<input type="textarea" name="comment[body]">
<!-- 	<input type="hidden" name="comment[parent_comment_id]" value="<%= comment.escape('parent_comment_id') %>"> -->
	<input type="submit" value="reply">
	
</form>