<form class="form-inline">
	<div class="form-group">	
		<textarea name="comment[body]" class="form-control" rows="2"></textarea>
		<input type="hidden" name="comment[post_id]" value="<%= post_id %>">
		<input type="submit" value="reply" class="btn btn-info">
	</div>
	
</form>