<form class="form-inline">
	<div class="form-group">	
		<textarea name="comment[body]" class="form-control" rows="2"></textarea>
		<input type="hidden" name="comment[post_id]" value="<%= post_id %>">
		<span class="inline-reply">
			<button type="submit" class="btn oe-btn oe-btn-reflect reply-comment new-comment"><span>reply</span>
			</button>
		</span>
<!-- 		<input type="submit" value="reply" class="btn reply-comment new-comment"> -->
	</div>
</form>