<!-- ACCOUNT SIDEBAR -->

<div class="sidebar-blog-profile">
<div class="account-sidebar">
	<ul>
		<li class="list-group-item liked-posts"><%= user.get('liked_posts_ids').length %> Likes</li>
		<li class="list-group-item followed-blogs"><%= user.get('followed_blogs_ids').length %> Followed Blogs</li>
	</ul>
</div>
</div>
