<html>
<head>
    <title>Dashboard</title>
</head>
<body>

	<section class="container dashboard-main">
		
		<section>
			<h2>Posts</h2>
			<div class="">

				<div class="posts-container"></div>

			</div>

		</section>

	</section>
	
</body>
</html>