<html>
<head>
    <title>Dashboard</title>
</head>
<body>

<div id="blog-sidebar"></div>
	
<!-- ACCOUNT SIDEBAR -->

<div class="sidebar-blog-profile">
<div class="account-sidebar">
	<ul>
		<% if (user) { %> 
		<li class="list-group-item liked-posts"><i class="fa fa-heart"></i> 
				<%= user.get('liked_posts_ids').length %> Likes		
		</li>
		<li class="list-group-item followed-blogs"><i class="fa fa-plus-circle"></i> 
			<%= user.get('followed_blogs_ids').length %> Followed Blogs
		</li>
		<% } %>			
	</ul>
</div>
</div>
	
<div class="container">
	<h2>Make a New Post</h2>
	
	<div class="row dashboard-row">

		<button class="full-post-modal btn oe-btn oe-btn-reflect oe-btn-hover-flap oe-btn-inline-icon" data-tab-num="1" id="text-post-btn"><span><i class="fa fa-4x fa-font"></i></span>
		</button>
		<button class="full-post-modal btn oe-btn oe-btn-reflect oe-btn-hover-flap oe-btn-inline-icon" data-tab-num="2" id="image-post-btn"><span><i class="fa fa-4x fa-camera"></i></span>
		</button>
		<button class='full-post-modal btn oe-btn oe-btn-reflect oe-btn-hover-flap oe-btn-inline-icon' data-tab-num="3" id="quote-post-btn"><span ><i class="fa fa-4x fa-quote-left"></i></span></button>
		<button class='full-post-modal btn oe-btn oe-btn-reflect oe-btn-hover-flap oe-btn-inline-icon' data-tab-num="4" id="link-post-btn"><span ><i class="fa fa-4x fa-link"></i></span></button>
	</div>

</div>
	
	<section class="container dashboard-main">
		
		<section>
			<h2>Posts</h2>
		
			<div class="sortable-bar group">
				<ul class="nav nav-tabs oe-tabs sort-methods group" role="tablist" style="float:left;">
				<li class="active">
					<a href="#" role="tab" data-toggle="tab" class="re-sort" data-sort-method="created_at">
						<i class="fa fa-key"></i> Recent</a>
				</li>
				<li class="">
					<a href="#" role="tab" data-toggle="tab" class="re-sort" data-sort-method="notes_count">
						<i class="fa fa-fire"></i> Popular</a>
				</li>
				<li class="">
					<a href="#" role="tab" data-toggle="tab" class="re-sort" data-sort-method="recent_notes_count">
						<i class="fa fa-flask"></i> Trending</a>
				</li>

				</ul>

				<li class="inline-search-bar">
						<input type="text" id="search-tag" class="form-control" placeholder="search tags">
				</li>

			</div>

			<div class="posts-container"></div>
			
			<div id="pagination-nav"></div>
		</section>

	</section>
	
</body>
</html>