<html>
<head>
    <title>Dashboard</title>
</head>
<body>

	<section class="container dashboard-main">
		
	
		
		<section>
			<h2>Posts</h2>
			<div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3 col-lg-6 col-lg-offset-3">

				<div class="posts-container"></div>

			</div>

		</section>

	</section>
	
</body>
</html>