<html>
<head>
    <title>Dashboard</title>
</head>
<body>

	
<div class="container">
	<h2>Make a New Post</h2>
		
	<div class="row">

		<button class="full-post-modal btn btn-info" data-tab-num="1"><i class="fa-pencil-square fa fa-4x"></i> <p>Text</p>
		</button>
		<button class="full-post-modal btn btn-warning" data-tab-num="2"><i class="fa fa-camera fa-4x"></i><p>Image</p>
		</button>
		<button class='full-post-modal btn btn-default' data-tab-num="3"><i class="fa-quote-left fa fa-4x"></i><p>Quote</p>
		</button>
	
	</div>
	
</div>
	
	<section class="container dashboard-main">
		
		<section>
			<h2>Posts</h2>
			<div class="">
				<ul class="nav nav-tabs oe-tabs sort-methods" role="tablist">
					<li class="active">
						<a href="#" role="tab" data-toggle="tab" class="re-sort" data-sort-method="created_at">
							<i class="fa fa-key"></i> Recent</a>
					</li>
					<li class="">
						<a href="#" role="tab" data-toggle="tab" class="re-sort" data-sort-method="count_notes">
							<i class="fa fa-suitcase"></i> Popular</a>
					</li>
					<li class="">
						<a href="#" role="tab" data-toggle="tab" class="re-sort" data-sort-method="count_recent_notes">
							<i class="fa fa-flask"></i> Trending</a>
					</li>
				</ul>


				<div class="posts-container"></div>

			</div>

		</section>

	</section>
	
</body>
</html>