<html>
<head>
    <title>Dashboard</title>
</head>
<body>

	<section class="container dashboard-main">
		
	<% dashboard.posts().each do |post| %>
		<div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3 col-lg-6 col-lg-offset-3">
			<div class="posts-container"></div>
		</div>
	<% end %>
		
	</section>
	
</body>
</html>