<h1>explore by tags</h1>

<input type="text" class="query" id="main-search" value="<%= query %>" autocomplete="on">
<button id="main-search-btn" class="btn btn-default">search</button>
<a class="next-page">Next Page</a>

<div id="main-search-container">
	<ul class="search-results group" id="blogs-results"></ul>
	<ul class="search-results group" id="posts-results"></ul>
</div>
