<div class="modal post-modal">
	<form class='modal-form'>
	<div class="bbm-modal__topbar full-modal">
		<ul>
			<li class="bbm-modal__tab"><a href="#" id="tab1" class="active">Text</a></li>
			<li class="bbm-modal__tab"><a href="#" id="tab2">Images</a></li>
		</ul>
	</div>

		<div class="tab-container is-open">
		</div>

	<div class="bbm-modal__bottombar">
		<span class="modal-close js-modal-close">&times;</span>
	</div>
		
		<input type="submit" class="submit-el" value="POST">
	</form>
	
	<div class="modal-screen js-modal-close"></div>
</div>