<div class="modal post-modal">
	<form class='modal-form'>
	<div class="bbm-modal__topbar full-modal">
		<ul>
				<select class="form-control" name="post[blog_id]" id="post_blog_id">
					<% blogs.each(function(blog){ %>
							<option value="<%= blog.id %>" data-blog-name="<%= blog.escape('name') %>"><%= blog.escape('name') %></option>
					<% }); %>
				</select>
			
			<li class="bbm-modal__tab"><a href="#" id="tab1" class="active"><i class="fa-pencil-square fa fa-2x"></i> Text</a></li>
			<li class="bbm-modal__tab"><a href="#" id="tab2"> <i class="fa-camera fa fa-2x"></i> Images</a></li>
			<li class="bbm-modal__tab"><a href="#" id="tab3"><i class="fa-quote-left fa fa-2x"></i> Quote</a></li>

		</ul>
	</div>

		<div class="tab-container is-open">
		</div>

	<div class="">
		<span class="modal-close js-modal-close">&times;</span>
	</div>
		
		<button type="submit" class="btn oe-btn oe-btn-inline-icon submit-el" id="submit-post-btn">
			<span>SUBMIT POST</span>
		</button>
		
<!-- 		<input type="submit" class="submit-el btn btn-info" value="POST"> -->
	</form>
	
	<div class="modal-screen js-modal-close"></div>
</div>