<div class="bbm-modal__topbar">
	<ul>
		<li class="bbm-modal__tab"><a href="#" id="tab1" class="active">Text</a></li>
		<li class="bbm-modal__tab"><a href="#" id="tab2">Images</a></li>
	</ul>
</div>

<div class="my-container">
</div>

<div class="bbm-modal__bottombar">
	<a href="#" class="bbm-button">Cancel</a>
</div>