<!-- LINK -->

<div class="bbm-modal__section" id="tab4">
	<div class="errors hidden" id="localDropResult"></div>
	
	<div class="form-group">
		<input type='text' class="form-control" id="post-link" placeholder="URL" autofocus="" autocomplete="off">
	</div>
	
	<div class="form-group">
		<input type='text' class="form-control" id="post-title" placeholder="title (optional)" autocomplete="off">
	</div>
	
	<div class="form-group wysiwyg">
    <textarea id="post-content" placeholder="caption (optional)"></textarea>
	</div>
	
	<div class="form-group">
		<input type="text" id="post_tags_string" name="post[tags_string]" class="form-control tags" placeholder="tags(separate by commas)">
	</div>
		
	<input type="hidden" name="post[reblogged]" value="false">
</div>