<!-- <div class="bbm-modal__section modal" id="tab2"> -->
<div class="bbm-modal__section" id="tab2">
<!-- 	<form class='modal-form'> -->
<!-- 	<form> -->
	<span class="modal-close js-modal-close">&times;</span>
		
	<div class="errors hidden" id="localDropResult"></div>
	
	<div class="drop-pane-full">
		<div id="dropPane">drop images here</div>
		<div class="image-thumbnails"></div>
	</div>	
	
	<div class="form-group">
		<input type="text" id="post_tags_string" name="post[tags_string]" class="form-control tags" placeholder="tags(separate by commas)">
	</div>
	
	<input type="hidden" name="post[filepicker_urls]" id="filepicker_urls">	
	
	<input type="hidden" name="post[reblogged]" value="false">
		
<!-- 	<input type="submit" class="submit-el" value="POST"> -->
	
<!-- 	</form> -->
	
<!-- 	<div class="modal-screen js-modal-close"></div> -->
	
</div>
