<!-- <div class="bbm-modal__section modal" id="tab1"> -->
<div class="bbm-modal__section" id="tab1">
<!-- 	<form class='modal-form'> -->
<!-- 	<form> -->
<!-- 	<span class="modal-close js-modal-close">&times;</span> -->
		
	<div class="form-group">
		<select class="form-control" name="post[blog_id]">
			<% blogs.each(function(blog){ %>
					<option value="<%= blog.id %>"><%= blog.escape('name') %></option>
			<% }); %>
		</select>

	</div>
	
	<div class="form-group">
		<label for="post_title">title: </label>
		<input type="text" name="post[title]" class="form-control">
	</div>
	
	<div class="form-group">
		
		<a href="#" class="upload-fp">upload images</a>
		
		<input type="hidden" name="post[filepicker_urls]" id="post_filepicker_urls">
		<div class="image-thumbnails"></div>
		
	</div>	
	
	<div class="form-group wysiwyg">
    <textarea id="post-content" name="post[content]">
		 </textarea>
	</div>
	
	<div class="form-group">
		<label for="post_tags">tags (separate by commas):</label>
		<input type="text" id="post_tags" name="post[tags]" class="form-control">
	</div>
		
	<input type="hidden" name="post[reblogged]" value="false">
	
<!-- 	<button type="submit" class="createPost">POST</button> -->
<!--   <input type="submit" class="submit-el" value="POST">
	</form> -->
	
<!-- 	<div class="modal-screen js-modal-close"></div> -->
</div>