<!-- QUOTE -->

<div class="bbm-modal__section" id="tab3">
	<div class="errors hidden" id="localDropResult"></div>
	
	<div class="form-group">
		<textarea class="post-quote form-control" id="post-quote" rows="3" name="post[quote]" placeholder="Quote" autofocus="" autocomplete="off"></textarea>
	</div>
	
	<div class="form-group wysiwyg">
    <textarea id="post-content"></textarea>
	</div>
	
	<div class="form-group">
		<input type="text" id="post_tags_string" name="post[tags_string]" class="form-control tags" placeholder="tags(separate by commas)">
	</div>
		
	<input type="hidden" name="post[reblogged]" value="false">
</div>