<!-- <div class="bbm-modal__section modal" id="tab2"> -->
<div class="bbm-modal__section" id="tab2">
<!-- 	<form class='modal-form'> -->
<!-- 	<form> -->
	<span class="modal-close js-modal-close">&times;</span>
		
	<div class="errors" id="localDropResult hidden"></div>
	
	<div class="drop-pane-full">
		<div id="dropPane">drop images here</div>
		<div class="image-thumbnails"></div>
	</div>	
	
	<input type="hidden" name="post[filepicker_urls]" id="filepicker_urls">	
			
	<div class="form-group">
		<select class="form-control" name="post[blog_id]" id="post_blog_id">
			<% blogs.each(function(blog){ %>
					<option value="<%= blog.id %>"><%= blog.escape('name') %></option>
			<% }); %>
		</select>
	</div>
	
	<input type="hidden" name="post[reblogged]" value="false">
		
<!-- 	<input type="submit" class="submit-el" value="POST"> -->
	
<!-- 	</form> -->
	
<!-- 	<div class="modal-screen js-modal-close"></div> -->
	
</div>
