<div class="bbm-modal__section modal" id="tab2">
	
	<form class='modal-form'>
	<span class="modal-close js-modal-close">&times;</span>
		
	<pre id="localDropResult hidden"></pre>
	
	<div id="dropPane">
		drop images here
	</div>
	<br>

	<input type="hidden" name="post[filepicker_urls]" id="post_filepicker_urls">
		
	<div class="image-thumbnails"></div>
		
	<div class="form-group">
		<input type="hidden" name="post[blog_id]" value="<%= blog_id %>">
	</div>
	
		
	<input type="submit" class="submit-el" value="POST">
	</form>
	
	<div class="modal-screen js-modal-close"></div>
	
</div>
