<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Dashboard</title>
</head>
<body>

	<% @dashboard.all_posts.each do |post| %>
		<%= render partial: 'posts/post', locals: { post: post } %>
	<% end %>
</body>
</html>