.blog-profile img {
	max_width: 300px;
	max-height: 300px;
}

.image-thumbnails img {
	max-height: 100px;
	max-width: 100px;
}

iframe.wysihtml5-sandbox {
	width: 100% !important;
	border-radius: 5px !important;
}

