@import "mixins";

table.blogs-table {
	margin: 10px auto;
	max-width: $post-width;
 	td {
	 padding: 15px;
 	}
}

.pagination-nav {
	margin: 10px auto;
	max-width: $post-width;
	padding: 10px;
}

#edit-user {
	margin: 10px auto;
	max-width: $post-width;
}

section.blog-profile {
	float: none;
	margin: 10px auto;
}

.blog-profile img {
	max_width: 300px;
	max-height: 300px;
	height: 150px;
}

.image-thumbnails img {
	max-height: 100px;
	max-width: 100px;
}

iframe.wysihtml5-sandbox {
	width: 100% !important;
	border-radius: 5px !important;
}

/** SORTABLE **/

.sortable-bar {
	width: $post-width;
	margin: 0 auto;
	position: relative;
}

.sort-methods {
	margin: 10px auto;
	text-align: center;
	float: left;
	width: $post-width;
	
	li > a {
		padding: 6px 15px;
	}
}

/** COMMENTS **/
.tumblero-url {
	text-shadow: 0px 1px 2px rgba(164, 109, 201, 1);
	font-weight: 700;
	color: white;
}