// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-container {
	li {
		text-align: left;
		margin-left: 20px;
	/* 	border: none; */
		border: 1px solid gray;
	}

	form {
		margin-top: 20px;
		width: 100%;
		max-width: 100%;
		
		.form-group {
			width: 100%;
			textarea {
				width: 100%;
			}
			input[type="submit"] {
				float: right;
				margin-top: 10px;
				width: 100px;
			}
		}
		
	}
}



/* 
.comments-container ol {
	border: 1px solid gray;
} */