// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.dashboard-main {
	margin: 0 auto;
	text-align: center;
}

.inline-notifications {
	width: 100%;
	background-color: white;
	text-align: center;
	color: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0 auto;
	display: block;
}