// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";

section.dashboard-main {
	margin: 0 auto;
	text-align: center;
}

.dashboard-row {
	text-align: center;
	margin-bottom: 80px;
}

button.full-post-modal {
	border-radius: 5px;
	padding: 10px;
	border: none;
	
	span {
		border: none;
		height: 105px;
		background: inherit;
	}
	
	i.fa {
		background: transparent;
		margin: 0;
	}
}

.full-post-modal.oe-btn-reflect.oe-btn-hover-flap .fa {
	background: transparent;
}

.full-post-modal.oe-btn-reflect.oe-btn-hover-flap span {
	background: inherit;
	&:before {
		height: 100%;
		background: inherit;
	}
}

.full-post-modal.oe-btn-reflect:before, .oe-btn-reflect span:before, .oe-btn-reflect .fa:after {
	border: none;
	outline: none;
}


button#text-post-btn span {
	background: $rosy;
}

button#image-post-btn span {
	background: $gold;
}

button#quote-post-btn span {
	background: $foam-green;
}

button#link-post-btn span {
	background: $violet;
}

/* ==== SIDEBAR ==== */

#blog-sidebar {
	float: right;
	width: 300px;
	font-size: 14px;
	font-family: 'Lato';
	position: absolute;
	top: 180px;
	right: 150px;
	button {
		width: 300px;
		text-align: center;
		border-radius: 0px;
		background: $rosy;
		color: #fff;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}
	ul.dropdown-menu {
		width: 300px;
		border-radius: 0px;
		color: #fff;
		background: $bg-dark;
		color: #fff;
		padding-top: 0;
		padding-bottom: 0;
		li > a {
			background: $bg-dark;
			color: #fff;
			&:hover {
				background: $gray-line;
				color: $bg-dark;
			}
		}
		li:not(:first-child) {
			border-top: 1px solid $gray-line;
		}
	}
}

.sidebar-blog-profile {
	width: 300px;
	height: auto;
	float: left;
	li:not(.header), a:not(.header) {
		background: transparent;
		color: #fff;
		border-radius: 0px;
	}
	.list-group-item:first-child {
		border-radius: 0px;
	}
	.list-group-item.header {
		background: $gray-line;
		color: $bg-black;
	}
}