
@import "mixins";

section.dashboard-main {
	margin: 0 auto;
	text-align: center;
}

.dashboard-row {
	text-align: center;
	margin-bottom: 80px;
}

button.full-post-modal {
	border-radius: 5px;
	padding: 10px;
	border: none;
	
	span {
		border: none;
		height: 105px;
		background: inherit;
	}
	
	i.fa {
		background: transparent;
		margin: 0;
	}
}

.full-post-modal.oe-btn-reflect.oe-btn-hover-flap .fa {
	background: transparent;
}

.full-post-modal.oe-btn-reflect.oe-btn-hover-flap span {
	background: inherit;
	&:before {
		height: 100%;
		background: inherit;
	}
}

.full-post-modal.oe-btn-reflect:before, .oe-btn-reflect span:before, .oe-btn-reflect .fa:after {
	border: none;
	outline: none;
}


button#text-post-btn span {
	background: $rosy;
}

button#image-post-btn span {
	background: $gold;
}

button#quote-post-btn span {
	background: $foam-green;
}

button#link-post-btn span {
	background: $violet;
}

/* ==== SIDEBAR ==== */

#blog-sidebar {
	width: 19%;
	font-size: 14px;
	font-family: 'Lato';
	position: absolute;
	top: 130px;
	right: 2%;
	button {
		width: 100%;
		text-align: center;
		border-radius: 0px;
		background: $rosy;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		color: #fff;
	}
	div.header {
		color: #fff;
	}
	div.header:hover {
		background: #fff;
		h4, p { color: $foam-green; }
	}
	ul.dropdown-menu {
		width: 100%;
		border-radius: 0px;
		border: none;
		margin-top: -1px;
		color: #fff;
		background: $bg-black;
		color: #fff;
		padding-top: 0;
		padding-bottom: 0;
		li > a {
			background: $bg-dark;
			color: #fff;
			&:hover {
				background: $gray-line;
				color: $bg-black;
			}
		}
		li:not(:first-child) {
			border-top: 1px solid $gray-line;
		}
	}
}

.sidebar-blog-profile {
	height: auto;
	i.fa {
		color: #fff;
	}
	p {
		text-align: center; 
	}
	li:not(.header), a:not(.header) {
		background: transparent;
		color: #fff;
		border-radius: 0px;
	}
	.list-group-item:first-child {
		border-radius: 0px;
	}
	.list-group-item.header {
		background: $gray-line;
		color: $bg-black;
	}
	div.list-group-item {
		background: transparent;
		color: #fff;
	}
	div.list-group-item:not(.header) a {
		border: 1px solid #fff;
		border-radius: 6px;
		padding: 5px 10px;
		&:hover {
			background: #fff;
			color: $foam-green;
			border: 1px solid $foam-green;
			i.fa {
				color: $foam-green;
			}
		}
	}
}

/* ==== ACCOUNT SIDEBAR ==== */

.account-sidebar {
	width: 19%;
	font-size: 14px;
	font-family: 'Lato';
	position: absolute;
	top: 550px;
	right: 2%;
	ul li:first-child {
		background: $foam-green;
		color: #fff;
		&:hover {
			background: $bg-red-orange;
			color: #fff;
		}
	}
	ul li:nth-child(2) {
		background: #ccc;
		color: rgba(49, 60, 65, 0.6);
	}
}