button.follow-btn {
/* 	position: absolute; */
	right: 10px;
	top: 10px;
	border: none;
	margin: 5px;
	width: 175px;
}

button.follow-btn:hover {
	background-color: orange;
}

button.followed {
	@extend button.follow-blog;
	background-color: gray;
}

button.followed:hover {
	background-color: black;
}