
/* button.like-btn {
	position: absolute;
	right: 10px;
	top: 10px;
	border: none;
	background-color: pink;
}

button.like-btn:hover {
	background-color: red;
	color: white;
}

button.liked {
	@extend button.follow-btn;
	background-color: gray;
	color: white;
}

button.liked:hover {
	background-color: black;
	color: white;
} */