/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-light: #F0F8FF;
$gray-darker: #778899;
$lilac-light: rgba(172, 159, 211, 0.8);
$lemon-light: rgba(246, 200, 90, 0.8);
$tumblr-standard: #36465d;
$gold: #EBDC2B;
$rosy: #FC0650;
$rosy-light: #DDA1B3;
$rosy-coral: rgba(245, 72, 74, 0.9);
$orange-dull: rgb(208, 101, 3);
$gold: rgb(233, 147, 26);
$skyblue: rgb(22, 145, 190);
$dark-blue: rgb(27, 54, 71);
$gray-line: #ccc;

/* envato */
$bg-black: rgba(49, 60, 65, 0.9);
/* eventix */
$bg-dark: rgba(25, 33, 50, 0.92);
$bg-light: #f4f6f8; 
$bg-red-orange: linear-gradient(135deg, #fe7955 0%,#f05c6a 100%);
$bg-aqua: #26b6cb;
/* signum */
$foam-green: #84cbc5;

/* fonts */
$main-font: "Lato", "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
$main-font-size: 15px;
$li-font-size: 12px;

/* sizes */
$post-container: 656px;
$post-width: 600px;
$post-img-width: 580px;
$post-img-height: 400px;

$follow-small-width: 80px;
$follow-small-height: 25px;
$reply-btn-width: 150px;
$reply-btn-height: 24px;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

