// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";
/* Edit Vendor */

#filepicker_dialog_container {
	left: 50% !important;
  transform: translateX(-50%) !important;
	position: absolute !important;
}


/* Posts */

/* ==== MAIN VIEW ==== */

.post-show-full {
	width: 80%;
	margin: 0 auto;
}

body.bg-red-orange{
	background: $bg-red-orange;
}

body.bg-green{
	background: $foam-green;
}

.post {
	.post-inner img {
		max-width: 350px;
		height: auto;
	}
	
	display: block;
	margin: 20px auto;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	position: relative;
	text-align: center;
	
	.popover-content .btn-danger {
		margin-bottom: 5px;
		color: #fff;
		background: $rosy;
		border: none;
		width: 72px;
		&:hover {
			background: $bg-black;
		}
	}
	
	.source-url {
		position: absolute;
		font-size: 14px;
		top: 7px;
		right: 58px;
	}
	
	.post-inner button {
		float: left;
	}
	
	button.submit-edit {
		width: 440px;
		span {
			width: 440px;
		}
	}
	
	button.cancel-post {
		width: 175px;
		height: 50px;
		border-radius: 0;
		&:hover {
			background: $bg-dark;
			color: #fff;
		}
	}
	
	.editable i.fa {
		font-size: 19px;
	}
	
	.editable i.edit-post {
		position: absolute;
		top: 8px;
		right: 25px;
		color: $gray-line;
		&:hover {
			color: $foam-green;
		}
	}
	
	.editable i.fa-remove {
		position: absolute;
		top: 7px;
		right: 3px;
		color: $rosy-coral;
		opacity: 0.75;
		&:hover {
			color: $bg-dark;
		}
	}
	
	img {
		max-width: $post-img-width;
		max-height: $post-img-height;
		text-align: left;
	}

	a {
		text-decoration: none;
		color: $gray-line;
	}
	
	a.close-comments {
		display:block;
		text-align: center;
		color: $gray-line;
	}
	
	p {
		padding: 0 10px;
	}
	
	ul, ol {
		text-align: left;
	}
	
	ul:not(.wysihtml5-toolbar):not(.comments-index) li {
		list-style-type: disc;
		margin-left: 40px;
	}
	
	ol:not(.wysihtml5-toolbar):not(.comments-index) li {
		list-style-type: none;
		margin-left: 20px;
	}
	
	ol.comments-index li {
		list-style: none;
		margin-left: none;
		text-align: left;
	}
	
}

blockquote.post-quote {
	background: $bg-light;
	border:none;
	border-radius: 5px;
	padding: 10px 15px;
}

/* === DASHBOARD/BLOG VIEWS ==== */
.posts-container {
	max-width: $post-container;
	margin: 0 auto;
}


/* === TOGGLEABLE === */

.toggleable {
	background: transparent;
	color: $gray-darker;
	
	button {
		background: inherit;
		border: none;
		outline: none;
	}
	
	i {
		color: inherit;
		background: inherit;
		transition: all 0.25s ease-in-out 0s;
		-moz-transition: all 0.25s ease-in-out 0s;
		-webkit-transition: all 0.25s ease-in-out 0s;
		-o-transition: all 0.25s ease-in-out 0s;
		-ms-transition: all 0.25s ease-in-out 0s;
	}
	
	i.fa-heart {
		font-size: 20px;
		
	}
	i.fa-heart:hover {
		color: $rosy;
		background: inherit;	
	}
	
	i.fa-retweet {
		font-size: 25px;
	}
	
	i.fa-retweet:hover {
		color: $foam-green;
		background: inherit;
	}
}

/* ==== Post Modal ==== */

div.bootstrap-wysihtml5-insert-link-modal.modal {
	display: none;
	.modal-body .checkbox label {
		width: auto !important;
	}
	.modal-footer .btn-primary {
		background: #fc0650;
		color: #fff;
		border: none;
	}
}

.tab-container {
	a {
		color: $rosy;
		&:hover {
			color: gray;
		}
	}
}

.modal.post-modal {
  display: none;
	overflow: auto;
	i.fa {
		color: $gray-line;
		&:hover, &:active, &:focus {
			color: $rosy;
		}
	}
	.active i.fa {
		color: $rosy;	
	}
}

.modal.is-open {
  display: block;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#tab4 input[type="text"] {
	width: 100%;
	margin-left: 0;
}

.modal-form {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 66% !important;
  padding: 40px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #000;
	width: 900px;
	
	label {
		float: left;
		opacity: 0.75;
		width: 5%;
		font-weight: normal;
	}
	
	input[type="text"] {
		width: 93%;
		margin-left: 50px;
	}
	
	.upload-fp button, .upload-fp span {
		width: 750px;
	}
	
	.upload-fp button:hover:before {
		background: $rosy;
	}
	
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  cursor: pointer;
}

.modal-close:hover {
  color: #f00;
}

.modal-form > h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

.modal-form > p {
  margin: 0 0 20px 0;
}

.bbm-modal__topbar.full-modal ul {
	margin-top: -22px !important;
}

li.bbm-modal__tab {
	padding: 4px 10px;
	border-radius: 5px;
	text-decoration: none;
	width: 75px;
	
	a {
		color: $gray-line;
	}
}

li.bbm-modal__tab:hover, li.bbm-modal__tab:active{
	color: $rosy !important;
}

.full-modal #post_blog_id {
	width: 230px;
	position: absolute;
	top: 13px;
	left: 2%;
}

.wysiwyg iframe{
	border: 1px solid $gray-line;
}

input[type="text"].tags {
	width: 100%;
	margin-left: 0px;
}

#submit-post-btn {
	width: 100%;
	border: none;
	span:before {
		background: transparent;
		width: inherit;
	}
}

/** tab2 **/

.drop-pane-full {	
	background-color: $gold;
	opacity: 0.6;
	text-align: center;
	margin: 10px auto;
	padding: 10px;
	border-radius: 10px;
	position: relative;
	
	.image-thumbnails {
		position: absolute;
		bottom: 10px;
	}
}

#dropPane {
	width: 100%;
	height: 200px;
/* 	position: absolute; */
}


#dropPane .drag-enter {
	background-color: #E0E0E0;
	border: 1px dashed #000;
}

#dropPane .drag-leave {
	background-color: #F6F6F6;
	border: 1px dashed #666;
}

.nav li.inline-notifications span {
	transition: opacity 2.0s ease;
	background-color: goldenrod;
	color: white;
	text-align: center;
	border-radius: 5px;	
	padding: 4px 40px;
	margin: 2px auto;
	display: inline-block;
	position: absolute !important;
	top: 10px;
	left: -330px;
	opacity: 0.75;
	width: 300px;
	a {
		color: white !important;
	}
}
