/* /explore/:tags */
input#main-search {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	border-radius: none !important;
	border: none;
	outline: none;
	height: 34px;
	margin-left: 10px;
}

/* inline search on dashboard or blog */
.inline-search-bar {
	float: right;
	position: absolute;
	right: 0px;
	bottom: 10px;
	input {
		border: none;
		border-radius: none;
	}
}

#main-search-container {
	padding: 20px;
}

#blogs-results {
	div {
		margin: 0 auto;
	}
}

#posts-results {
	margin-bottom: 10px;
	.post {
		width: 400px;
	}
}