// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.settings-container form, .settings-container .form-group {
	width: 100%;
	max-width: 100%;
}

.btn.user-settings-btn {
	width: 90%;
	margin: 10px auto;
	background-color: black;
	color: white;
}


.inline-notifications.inner {
	font-size: 12px;
	color: white;
	font-weight: 700;
}

ul.activity-feed {
	text-align: center;
	i.fa {
		color: #fff;
	}
	
	.oe-btn, .oe-btn span,
	.oe-btn .fa,
	.oe-btn span:before, .oe-btn span:hover, .oe-btn span:after {
		color: #ffffff !important;
	}

	li {
		padding: 5px 15px;
		margin-bottom: 5px;
		border: 1px solid #fff;
		color: #fff;
	}
	
	li.Like {
		background: rgba(245, 72, 74, 0.9);
	}
	
	li.Comment {
	}
	
	li.Following {
		background: #84cbc5;
	}
}