@import "mixins";

/* === SIGN UP === */

form.session-form {
	background: $gray-line;
	max-width: 100%;
	width: 700px;
	padding: 20px;
	margin-top: 10px;
	-webkit-box-shadow: 3px 2px 9px 0px rgba(0,0,0,0.31);
	-moz-box-shadow: 3px 2px 9px 0px rgba(0,0,0,0.31);
	box-shadow: 3px 2px 9px 0px rgba(0,0,0,0.31);
	input {
		border-radius: 0;
	}
}

h2.session-form {
	color: #fff;
}

button.session-btn {
	height: 50px;
	width: 660px;
	padding: 0px;
	span {
		height: inherit;
		width: inherit;
		color: #fff;
		padding: 0;
	}
	span:before {
		color: #fff;
		height: inherit;
		width: inherit;
	}
	span#inner-span {
		margin-top: 4px;
		background: transparent;
	}
}

button#create-new-blog{
	width: 700px;
	border: none;
	background: #fff;
	color: $bg-dark;
	span {
		width: 700px;
		border: none;
	}
	a, i.fa {
		color: $bg-dark;
	}
}
/** ===== USER PROFILE ==== */

.settings-container form, .settings-container .form-group {
	width: 100%;
	max-width: 100%;
}

.right-settings-container .btn {
	width: 300px;
	margin: 10px auto;
	color: #fff;
	border:none;
	span {
		width: 300px;
		background: inherit;
		border: inherit;
		padding: 10px 0 0 0;
		margin: 0px;
		font-size: 16px;
	}
	
	i.fa {
		background: transparent;
	}
}

.settings-container .btn.user-settings-btn{
	background: $gold;
}

.settings-container .btn.user-notifications {
	background: $lilac-light;
}

.blogs-table.blogs-settings .btn{
	width: 166px;
	span {
		width: inherit;
	}
}

table.avatar {
	max-width: 50px;
	max-height: 50px;
	float: left;
}

.inline-notifications.inner {
	font-size: 12px;
	color: white;
	font-weight: 700;
}

ul.activity-feed {
	text-align: center;
	i.fa {
		color: #fff;
	}
	
	.oe-btn, .oe-btn span,
	.oe-btn .fa,
	.oe-btn span:before, .oe-btn span:hover, .oe-btn span:after {
		color: #ffffff !important;
	}

	li {
		padding: 5px 15px;
		margin-bottom: 5px;
		border: 1px solid #fff;
		color: #fff;
	}
	
	li.Like {
		background: rgba(245, 72, 74, 0.9);
	}
	
	li.Comment {
	}
	
	li.Following {
		background: #84cbc5;
	}
}