@import "mixins";

.settings-container form, .settings-container .form-group {
	width: 100%;
	max-width: 100%;
}

.right-settings-container .btn {
	width: 300px;
	margin: 10px auto;
	color: #fff;
	border:none;
	span {
		width: 300px;
		background: inherit;
		border: inherit;
		padding: 10px 0 0 0;
		margin: 0px;
		font-size: 16px;
	}
	
	i.fa {
		background: transparent;
	}
}

.settings-container .btn.user-settings-btn{
	background: $gold;
}

.settings-container .btn.user-notifications {
	background: $lilac-light;
}

.blogs-table.blogs-settings .btn{
	width: 166px;
	span {
		width: inherit;
	}
}

table.avatar {
	max-width: 50px;
	max-height: 50px;
	float: left;
}

.inline-notifications.inner {
	font-size: 12px;
	color: white;
	font-weight: 700;
}

ul.activity-feed {
	text-align: center;
	i.fa {
		color: #fff;
	}
	
	.oe-btn, .oe-btn span,
	.oe-btn .fa,
	.oe-btn span:before, .oe-btn span:hover, .oe-btn span:after {
		color: #ffffff !important;
	}

	li {
		padding: 5px 15px;
		margin-bottom: 5px;
		border: 1px solid #fff;
		color: #fff;
	}
	
	li.Like {
		background: rgba(245, 72, 74, 0.9);
	}
	
	li.Comment {
	}
	
	li.Following {
		background: #84cbc5;
	}
}