<footer class="footer">
	<div class="row">
	<div class="col-lg-offset-1 col-md-offset-1">
		
  <small>
    a tumblr clone by <a href="http://github.com/lishiyo">Connie Li</a>
  </small>
  
		<small class="pull-right" style="margin-right:40px;"><a href="/">project guidelines</a></small>
    	
	</div>
	</div>
</footer>
	
